h1{
    color:red;
    font-size:12;
    text-align:center;
}

ul{
    color:rgb(255, 0, 119);
    letter-spacing:5px;
}

ol,
p{
    color:blueviolet;
    transform: capitalize;
}
.special{
    color:purple;
}
li em{
    font-size:30px;
}
p em{
    font-size:30px;
}
a:link{
    Color:red;
}
article{
    flex: 1 200px;
}
article:nth-of-type(3){
    flex: 2 200px;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.STOPBREAKING {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}